# I'm only using git to track changes to scripts, data will not be included

# Directories
scripts/*_files/
.ipynb_checkpoints
output
rdata.files
archive
data_biogeochem
dunlop_site
protocols
groupedASVs
.Rproj.user
copynum_est
figures
metadata_libraryprep/
data_picogreen/
paprica_analysis/
pics/
rmarkdown_files/
rscripts_messy/
temp/
appfiles/
.ipynb_checpoints/
field_comparison/
scripts/archive/

# Files
screenlog.0
*.csv
*.tsv
*scrap*

# Other
.RData
.Rhistory
growthrate2018.Rproj
.gitignore
